@import "tailwindcss";
@import 'tailwind-scrollbar-hide/v4';
@plugin "daisyui";

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Disable page scroll */
  background-color: #000000; /* Black background */
}

/* Dark theme overrides */
body {
  background-color: #000000 !important;
  color: #ffffff;
}